.HeroMain{
    font-family: 'Yeseva One', cursive;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    background-color: #FEF4EB;
    border-radius: 0 0 67px 67px;
    padding: 20px 50px;
    margin: 70px auto;
}

.HeroMenthe{
    color: var(--green);
}

.HeroTangerine{
    color: var(--orange);
    
}
.HeroCommande{
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 4px 0px 0px rgba(246, 157, 75, 0.36);
    text-decoration: none;
    color: var(--black);
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.HeroFlecheSvg{
    width: 42px;
    height: 42px;
    padding: 5px 6px 0 29px;

}

.HeroImghome{
    width: 50%;
    z-index: 4;
}


.HeroSection{
    font-size: 40px;
    width: 80%;
}


