.modalSection {
    background-color: var(--white);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.modalTitle {
    font-size: clamp(20px, 3vw, 25px);
    font-weight: 300;
    margin: 20px 0;
}

.modalSection .paymentFormRow {
    display: flex;
}

.modalSection .paymentFormRow, .modalSection .paymentFormColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modalSection .paymentFormRow:last-of-type {
    flex-direction: row;
    gap: 100px
}

.modalSection .mandatoryField {
    color: red;
}

/* INPUT & LABEL STYLE */
.modalSection .infoInput {
    font-size: 15px;
    font-weight: bold;
    background-color: var(--grey);
    border: none;
    border-radius: 35px;
    margin-bottom: 20px;
    padding: 20px;
}

.infoInput::placeholder {
    color: dimgray;
    font-weight: 300;
}

.modalLabel {
    font-size: clamp(15px, 3vw, 17px);
    margin-bottom: 10px;
    margin-left: 20px;
    white-space: nowrap;
}

@media (max-width: 600px) {

    .modalSection {
      width: 100%;
    }

    .modalSection .infoInput {
        width: 90%;
    }

    .modalSection .paymentFormRow:last-of-type {
        gap: 20px
    }

    .modalSection .paymentFormRow:last-of-type .infoInput {
        width: 80%;
    }

  }