.FilterBarFlex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.FilterBarButton{
    padding: 10px;
}

.FilterBarH2{
    height: 150px;
    display: flex;
    align-items: flex-end;
}

.FilterBarSection{
    margin-top: -220px;
    margin-bottom: 50px;
}
