.basketCard {
  background-color: #f5f5f5;
  border-radius: 35px;
  display: flex;
  gap: 30px;
  padding-right: 15px;
}

.basketCard p,
.basketCard h3 {
  margin: 0;
}

.basketCard .image {
  width: 30%;
  max-height: 200px;
  border-radius: 35px;
  object-fit: cover;
}

.basketCard .right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px;
}

.basketCard .cross {
  width: 20px;
}

.basketCard .cross:hover {
  cursor: pointer;
}

.basketCard .topline,
.basketCard .bottomline {
  display: flex;
  justify-content: space-between;
}

.basketCard .bottomline {
  align-items: flex-end;
}

.basketCard .price,
.basketCard .productName {
  font-size: clamp(15px, 3vw, 20px);
  font-weight: bold;
}

.basketCard .extras {
  font-size: clamp(12px, 3vw, 17px);
  min-height: 70px;
}

.basketCard .underlined {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .basketCard {
    gap: 10px;
  }

  .basketCard .price {
    white-space: nowrap;
  }

  .basketCard .extras {
    width: 60%;
  }
}

@media (max-width: 320px) {
  .basketCard {
    gap: 3px;
  }

  .basketCard .productName {
    max-width: 28px;
  }
}
