.title {
    display: flex;
    justify-content: center;
    font-family: 'Yeseva One', cursive;
}

.container {
    display: flex;
    align-items: flex-start;
  }
  
  .recap,
  .quantity {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 20px;
    font-family:'Yeseva One', cursive;
  }

  .selectedProducts ul {
    list-style: none;
    padding-left: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
  }
  
  .data {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    margin: 10px;
  }
  
  .line {
    width: 3px;
    height: 200px;
    border-radius: 3vh;
    background-color: #E7E7E7;
  }

  .button {
      display: flex;
      justify-content: center;
  }
  
  


