.NavButton {
  border-radius: 22px;
  border-color: var(--green);
  border-bottom-width: 5px;
  margin-top: 10px;
  background: var(--green);
  text-decoration: none;
  color: var(--black);
  padding: 12px 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.NavButton:focus {
  outline: none;
}

.NavButton:active {
  transform: translateY(2px);
}
