/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Yeseva+One&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Yeseva One', cursive; */

/* VARIABLES */
:root {
    --orange: #F69D4B;
    --green: #A2DE96;
    --white: #FEFEFE;
    --black: #1F1B3B;
    --grey: #E7E7E7;   
}

body {
  margin: 0;
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  margin: 0 50px;
}

/* Pour que tous les titres aient la même taille */
h2 {
  font-family: 'Yeseva One', cursive;
  font-size: clamp(20px, 3vw, 35px);
}
